/* FOR Dashboard.jsx */

/* Quick Highlight Effect for the Player Box Searched by the User */
@keyframes card-highlight {
    0% { 
        box-shadow: 1 1 1px white; 
    }
    50% { 
        box-shadow: 0 0 12px 6px white; 
    }
    100% { 
        box-shadow: 1 1 1px white; 
    }
  }
  
  .card-highlight {
    animation: card-highlight 3.5s ease-in-out;
  }
  
  