/* FOR SearchBar.jsx */

/* For the Search Icon Animation to Expand Input Search Bar */
.search-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .search-form {
    position: relative;
    width: 10%;
    height: 20%;
    transition: all 0.6s ease;
    display: flex;
    align-items: center;
    margin-top: 4%;
  }
  
  .search-form.active {
    width: 100%;
  }
  

   /* Search Icon Circle */
  .search-input {
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 0.25em inset;
    caret-color: white;
    width: 1.3em;
    height: 1.3em;
    appearance: none;
    transition: all 0.6s ease;
    font-family: monospace;
    cursor: pointer;
  }

  .search-input::placeholder {
    font-family: monospace;
  }
  
  /* Search Icon Circle Expanded */
  .search-form.active .search-input {
    width: 100%;
    border-radius: 0.25em;
    padding: 0.75em 1em;
    box-shadow: none;
    border: 2px solid white;
    cursor: text;
  }
  
  /* Search Icon Caret */
  .caret {
    position: absolute;
    background: white;
    width: 0.25em;
    height: 0.60em;
    left: 20%;
    margin-bottom: -2.25em;
    transform: translate(0, -1em) rotate(-45deg) translate(0, 0.875em);
    transform-origin: 50% 0;
    transition: all 0.6s ease;
    cursor: pointer;
  }
  
  .search-form.active .caret {
    width: 2px;
    height: 1.5em;
    background: transparent;
    transform: translate(0, -1em) rotate(-180deg) translate(7.5em, -0.25em);
  }
  