

.banner-container {
    display: flex;
    justify-content: center;
    gap: 40rem;
    margin: 2rem auto;
}

.banner {
    position: relative;
    width: 300px;
    height: 800px;
    border-radius: 0 0 16px 16px;
    border-left: 4px solid gold;
    border-right: 4px solid gold;
    border-bottom: 4px solid gold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  }
  
.banner-top {
    position: absolute;
    top: -20px;
    width: 300px;
    height: 24px;
    background-color: #444;
    border-bottom: 4px solid gold;
    border-radius: 6px 6px 0 0;
    left: 50%;
    transform: translateX(-50%);
}
  
.banner-icon {
    z-index: 2;
}
  
.banner.green {
    background-color: #2f855a;
}
  
.banner.blue {
    background-color: #2b6cb0;
}
  
.banner.purple {
    background-color: #6b21a8;
}
