

.banner-container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin: 2.2% auto;
    position: sticky;
    flex-wrap: wrap;
}

.banner-wrapper-vertical {
    position: relative;
    width: 12.5vw;
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.6);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 75% 92%, 50% 100%, 25% 92%, 0 85%);
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.025) 25%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.025) 75%,
      rgba(255, 255, 255, 0.05) 100%
    );
    overflow: visible;
    z-index: 3;
}

.banner-border {
    position: relative;
    width: 12vw;
    height: 62vh;
    border-radius: 0 0 2rem 2rem;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-top: 0.5rem solid transparent;
    animation: wave-vertical 5s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

}

.banner-row{
    height: 1.25%;
    width: 100%;
    animation: wave-vertical 3s ease-in-out infinite;
    animation-delay: calc(var(--i) * 15ms);
    z-index: 1;
}

@keyframes wave-vertical {
    0%,
    100% {
      transform: translateX(0px);
      filter: brightness(100%);
    }
    25% {
      transform: translateX(-2px);
      filter: brightness(85%);
    }
    50% {
      transform: translateX(2px);
      filter: brightness(120%);
    }
    75% {
      transform: translateX(-1px);
      filter: brightness(95%);
    }
}

.banner-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-weight: bold;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}
